
body{
    background-color:rgb(226, 159, 82);
    padding: 100px;
    color: rgb(0, 0, 0);
    

}
.word{
    font-family: 'Oswald', sans-serif;
}
p1{
    font-family: system-ui;
}
.btn {
    background-color: white;
    margin-bottom: 15px;
    border: 0;
    width: 200px;
    padding: 15px 0 15px 0;
    border-radius:100px;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-shadow: 10px 13px 21px 1px rgba(0,0,0,0.36); 
    box-shadow: 10px 13px 21px 1px rgba(0,0,0,0.36);
    transition-duration: 0.3s;
    transition-property: color, background-color;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color:black;
}
